extend layout
block content
  h1 View All Users
  p
    a(href="#{viewUsr}"): button(type="button") List All Users

block sidebar
  .widget
    h1 View Classes
    p
      a(href="#{viewClss}"): button(type="button") List All Classes
    p
      | Click here to view
      | All Classes
