<html>
<head>
<title><%= Tab %></title>
<%- include('Components/Styles'); -%>
</head>
<body>
	<div id="Home">
		<%- Content %>
	</div>

	<script>
		window.Settings = <%- Settings %>;
	</script>
	<script src="/&/Scripts/Entry-Client.js"></script>
</body>
</html>
