<html>
<head>
<title><%= Tab %></title>
<%- include('Components/Styles'); -%>
</head>
<body>
	<%- include('Components/Nav'); -%>

	<main>
		<h2><a href='/*/Sessions'>Sessions</a></h2>
		<h2><a href='/*/Healers'>Healers</a></h2>
	</main>

	<script src="/&/Scripts/Home.js"></script>
</body>
</html>
