<html>
<head>
	<title><%= Tab %></title>
	<%- include('Components/Styles'); -%>
</head>
<body>
	<%- include('Components/Nav'); -%>

	<main>
		<h2>That session could not be found.</h2>
	</main>
</body>
</html>
