<html>
<head>
<title><%= Tab %></title>
<%- include('Components/Styles'); -%>
<style>
	.Healer {
		font-size: 1.5rem;
	}
</style>
</head>
<body>
	<%- include('Components/Nav'); -%>

	<main>
		<h2><%= Session.Name %></h2>
	</main>
</body>
</html>
