
<nav style="
	display: table;

	box-sizing: border-box;
	height: 1in;
	width: 100%;

	background: #DDD;
">
	<a href="/" style="
		display: table-cell;

		vertical-align: middle;
		text-align: center;

		height: 1in;
		width: 100%;

		font-size: 3rem;
		font-family: Ontel;
	"><%= Title %></a>
</nav>
